<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head:: head"></div>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="w3-container content">
    <h1>Get Help Now</h1>

    <p>If you or someone you care about has a substance abuse problem, there is help available. Millions of people
        around the world have recovered from their addictions through 12 Step programs.</p>
    <ul>
        <li><a href="https://www.aa.org/" target="_blank">Alcoholics Anonymous</a></li>
        <li><a href="https://www.na.org/" target="_blank">Narcotics Anonymous</a></li>
        <li><a href="https://ca.org/" target="_blank">Cocaine Anonymous</a></li>
        <li><a href="https://suicidepreventionlifeline.org/talk-to-someone-now/" target="_blank">Suicide Prevention Life
            Line</a> Talk to someone now: 1-800-273-8255
        </li>
    </ul>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>