<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head:: head"></div>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="w3-container content">

    <h1>Request to Host a Meeting</h1>

    <form action="#" th:action="@{/meetings/host}" th:object="${meeting}" method="post" class="w3-container">
        <label for="dateTime">Meeting Date and Time</label><br/>
        <div class="form-group">
            <div class="input-group date form_datetime col-md-5"
                 data-date-format="MM dd, yyyy - HH:ii p" data-link-field="dateTime"
                 data-link-format="yyyy-mm-dd hh:ii">
                <input class="form-control" size="16" type="text" value="" readonly="readonly"/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="dateTime" th:field="*{dateTime}" value=""/><br/>
        </div>
        <br/>
        <button name="buttonSubmit" type="submit" value="1">Submit</button>
    </form>

</div>

<script type="text/javascript" src="/js/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript">

    $('.form_datetime').datetimepicker({
        //language:  'en',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });

</script>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>