<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head:: head"></div>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="w3-container content">
    <h1>Mobile Recovery Service</h1>

    <h2>Bringing 12 Step Meetings to Your Home*</h2>

    <p>Are you a home-bound alcoholic or addict in recovery, or seeking help with a substance abuse problem, but unable to attend 12 Step Recovery Meetings?  Disabled, recovering from a surgery or illness, stuck on home detention, no transportation, unable to leave the kids?  The purpose of this web site is to connect you with individuals who are willing to bring a meeting into your home and help you stay connected to recovery.</p>

    <p>*This project is in early beta development.  Follow the development roadmap to track implementation of functionality.  Shoot us a message if you have any questions, suggestions, or feedback.</p>


    <h2>How It Works (or how it will work)</h2>

    <p>If you want to host a meeting in your home, you will provide your location and date/time ranges when you can host the meeting.</p>

    <p>If you can volunteer to attend a mobile meeting, you will provide a radius around a location you are willilling to travel and date/time ranges you are available.</p>

    <p>The web site will match volunteers with hosts based on availability and distance.  Email notifications will be sent to matching volunteers with a link to accept the meeting invitation.  The host will then confirm meeting time and location and final notification will be sent to all attendees.</p>

    <p>By default, the attendee with the most sobriety will be nominated to chair the meeting, but attendees can of course choose a chair ad-hoc.  A meeting format template will be available.</p>

</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>