<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head:: head"></div>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="w3-container content">
    <h1>Register</h1>

    <form action="#" th:action="@{/register}" th:object="${user}" method="post" class="w3-container">
        <input type="checkbox" id="host" th:field="*{host}"/> Host a Meeting in Your
        Home<br/>
        <input type="checkbox" id="volunteer" th:field="*{volunteer}"/> Volunteer to Attend a
        Meeting<br/><br/>

        <label for="firstName">First Name* <span th:errors="*{firstName}" class="w3-red"></span></label>
        <input type="text" id="firstName" th:field="*{firstName}" class="w3-input"/>

        <label for="lastName">Last Name* <span th:errors="*{lastName}" class="w3-red"></span></label>
        <input type="text" id="lastName" th:field="*{lastName}" class="w3-input"/>

        <label for="phone">Phone* <span th:errors="*{phone}" class="w3-red"></span></label>
        <input type="text" id="phone" th:field="*{phone}" class="w3-input"/>

        <label for="email">Email* <span th:errors="*{email}" class="w3-red"></span></label>
        <input type="email" id="email" th:field="*{email}" class="w3-input"/>

        <label for="password">Password* <span th:errors="*{password}" class="w3-red"></span></label>
        <input type="password" id="password" th:field="*{password}" class="w3-input"/>

        <label for="password2">Re-Enter Password*</label>
        <input type="password" id="password2" th:field="*{password2}" class="w3-input"/>

        <label for="address1">Address Line 1 (required for host) <span th:errors="*{address1}"
                                                                       class="w3-red"></span></label>
        <input type="text" id="address1" th:field="*{address1}" class="w3-input"/>

        <label for="address2">Address Line 2</label>
        <input type="text" id="address2" th:field="*{address2}" class="w3-input"/>

        <label for="city">City* <span th:errors="*{city}" class="w3-red"></span></label>
        <input type="text" id="city" th:field="*{city}" class="w3-input"/>

        <label for="state">State* <span th:errors="*{state}" class="w3-red"></span></label>
        <input type="text" id="state" th:field="*{state}" class="w3-input"/>

        <label for="zipcode">Zip Code* <span th:errors="*{zipcode}" class="w3-red"></span></label>
        <input type="text" id="zipcode" th:field="*{zipcode}" class="w3-input"/>

        <label for="travelRange">Travel Range in Miles (required for volunteer) <span th:errors="*{travelRange}" class="w3-red"></span></label>
        <input type="text" id="travelRange" th:field="*{travelRange}" class="w3-input"/>

        <!--<label for="sobrietyDate">Sobriety Date* <span th:errors="*{sobrietyDate}" class="w3-red"></span></label>-->
        <!--<input type="text" id="sobrietyDate" th:field="*{sobrietyDate}" class="w3-input"/>-->

        <label for="sobrietyDate">Sobriety Date</label><br/>
        <div class="input-group date form_date col-md-5" data-date="" data-date-format="MM dd, yyyy"
             data-link-field="sobrietyDate" data-link-format="mm/dd/yyyy">
            <input class="form-control" size="16" type="text" value="" readonly="true"/>
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        <input type="hidden" id="sobrietyDate" value="" th:field="*{sobrietyDate}"/><br/><br/>

        <button name="buttonSubmit" type="submit" value="1">Submit</button>

    </form>
</div>

<script type="text/javascript" src="js/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript">

	$('.form_date').datetimepicker({
        language:  'en',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });

</script>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>