<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head:: head"></div>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="w3-container content">
    <h1>Register</h1>

    <form action="#" th:action="@{/register}" th:object="${user}" method="post" class="w3-container">
        <input type="checkbox" id="host" th:field="*{host}" /> Host a Meeting in Your
        Home<br/>
        <input type="checkbox" id="volunteer" th:field="*{volunteer}" /> Volunteer to Attend a
        Meeting<br/><br/>

        <label for="name">Name* <span th:errors="*{name}" class="w3-red"></span></label>
        <input type="text" id="name" th:field="*{name}" class="w3-input"/>

        <label for="phone">Phone* <span th:errors="*{phone}" class="w3-red"></span></label>
        <input type="text" id="phone" th:field="*{phone}" class="w3-input"/>

        <label for="email">Email* <span th:errors="*{email}" class="w3-red"></span></label>
        <input type="email" id="email" th:field="*{email}" class="w3-input"/>

        <label for="password">Password* <span th:errors="*{password}" class="w3-red"></span></label>
        <input type="password" id="password" th:field="*{password}" class="w3-input"/>

        <label for="password2">Re-Enter Password*</label>
        <input type="password" id="password2" th:field="*{password2}" class="w3-input"/>

        <label for="address1">Address Line 1 (required for host) <span th:errors="*{address1}" class="w3-red"></span></label>
        <input type="text" id="address1" th:field="*{address1}" class="w3-input"/>

        <label for="address2">Address Line 2</label>
        <input type="text" id="address2" th:field="*{address2}" class="w3-input"/>

        <label for="city">City* <span th:errors="*{city}" class="w3-red"></span></label>
        <input type="text" id="city" th:field="*{city}" class="w3-input"/>

        <label for="state">State* <span th:errors="*{state}" class="w3-red"></span></label>
        <input type="text" id="state" th:field="*{state}" class="w3-input"/>

        <label for="zipcode">Zip Code* <span th:errors="*{zipcode}" class="w3-red"></span></label>
        <input type="text" id="zipcode" th:field="*{zipcode}" class="w3-input"/>

        <label for="travelRange">Travel Range in Miles (required for volunteer) <span th:errors="*{travelRange}" class="w3-red"></span></label>
        <input type="text" id="travelRange" th:field="*{travelRange}" class="w3-input"/>

        <label for="sobrietyDate">Sobriety Date* <span th:errors="*{sobrietyDate}" class="w3-red"></span></label>
        <input type="text" id="sobrietyDate" th:field="*{sobrietyDate}" class="w3-input"/>

        <button name="buttonSubmit" type="submit" value="1">Submit</button>

    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>